.side-admin
  .container.ml-3
    %h2.side-admin-main 受注管理
    .d-flex.flex-column
      %label.sidebar-category-label
        = link_to "受注一覧", dashboard_orders_path, class:"sidebar-category-label_link"
    %h2.side-admin-main 商品管理
    .d-flex.flex-column
      %label.sidebar-category-label
        = link_to "商品一覧", dashboard_products_path, class:"sidebar-category-label_link"
      %label.sidebar-category-label
        = link_to "商品新規作成", new_dashboard_product_path, class:"sidebar-category-label_link"
      %label.sidebar-category-label
        = link_to "カテゴリ管理", dashboard_categories_path, class:"sidebar-category-label_link"
      %label.sidebar-category-label
        = link_to "CSV一括登録", import_csv_dashboard_products_path, class:"sidebar-category-label_link"
    %h2.side-admin-main 顧客管理
    .d-flex.flex-column
      %label.sidebar-category-label
        = link_to "顧客一覧", dashboard_users_path ,class:"sidebar-category-label_link"
    %h2.side-admin-main その他
    .d-flex.flex-column
      %label.sidebar-category-label 新着情報管理
      %label.sidebar-category-label
        = link_to "お気に入り商品管理", favorite_dashboard_products_path ,class:"sidebar-category-label_link"
