
<div class="col-md-8 offset-md-1 content">
  <h2>カートに入っているアイテム</h2>
  <% if @user_cart_items.exists? %>
    <%= link_to "カートを空にする", deletecart_users_path , method: :delete, class: "btn btn-outline-danger btn-sm" %>
  <% end %>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>アイテム名</th>
        <th>個数</th>
        <th>小計</th>
        <th></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @user_cart_items.each do |user_cart_item| %>
        <% product = Product.find(user_cart_item.item_id) %>
        <tr>
          <td>
            <%= link_to product_path(product) do %>
              <% if product.image.attached? %>
                <%= image_tag product.image, :size => '130x130' %>
              <% else %>
                <%= image_tag "salt.png", :size => '130x130' %>
              <% end %>
            <% end %>
          </td>
          <td><%= product.name %></td>
          <th><%= user_cart_item.quantity %></th>
          <th>
            ￥<%= (user_cart_item.price_cents * user_cart_item.quantity).to_s(:delimited) %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>

    <div class="offset-8 col-4">
      <div class="row">
        <div class="col-6">
          <h2>小計</h2>
        </div>
        <div class="col-6">
          <h2>￥<%= ((@user_cart.total - @user_cart.shipping_cost).fractional / 100).to_s(:delimited) %></h2>
        </div>
      </div>      
      <div class="row">
        <div class="col-6">
          <h2>送料</h2>
        </div>
        <div class="col-6">
          <h2>￥<%= @user_cart.shipping_cost.fractional / 100 %></h2>
        </div>
      </div>

      
      <div class="row">
        <div class="col-6">
          <h2>合計</h2>
        </div>
        <div class="col-6">
          <h2>￥<%= (@user_cart.total.fractional / 100 ).to_s(:delimited)%></h2>
          <%# acts_as_shopping_cartで用意されているtotalメソッドを使用し、現在のカート（@user_cart）の合計金額を表示 %>
          <%# @user_cart.total.fractional / 100のように記述して小数点のない日本円表示 %>
        </div>
        <div class="col-12 d-flex justify-content-end">
          表示価格は税込みです
        </div>
      </div>
    </div>
    <%= render 'purchase_btn'%>

  </div>
</div>



</div>
    