<%# 確認画面へ %>
<div class="container content">
  <%= form_with model: @contact , url: confirm_path, local: true do |f|%>
    <div class="form-group">
      <%= f.label :name, 'お名前' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :message, 'メッセージ' %>
      <%= f.text_area :message, size: '10x10',class: 'form-control' %>
    </div>

    <div>
      <%= f.submit '入力内容確認' ,class: "btn btn-primary d-block mx-auto"%>
    </div>
  <% end %>
</div>
