<div class="container  d-flex justify-content-center mt-3">
  <div class="w-75 content">
    <h2>予約商品</h2>
    
    

    <hr>
    <table class="table table-responsive mt-5">

      <thead>
        <tr>
          <th scope="col">商品</th>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">mail</th>
          <th scope="col">tel</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <% product.likers(User).each do |user|%>
          <tr>
            <td>
              <% if product.image.attached? %>
                <%= image_tag product.image, :size => '100x100' %>
              <% else %>
                <%= image_tag "salt.png", :size => '100x100' %>
              <% end %>
            </td>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <hr>

  </div>
</div>