.w-75.content
  %h1 商品CSV登録
  = form_with model: @product, url: import_csv_dashboard_products_path, local: true do |f|
    .d-flex.flex-column
      .d-flex.flex-row
        = f.label "CSVファイルを選択", for: "file" ,class: "btn  mr-3 mb-0"
        = f.file_field :file
        = f.submit "一括登録", class: "btn btn-primary"
    %small#product-import-csv-filename
  .d-flex.justify-content-between.mt-3
    %h4.d-flex.align-self-center.mt-1.mb-0 CSVファイルフォーマット
    = link_to "雛形ファイルダウンロード", import_csv_download_dashboard_products_path, class: "btn csv-button"
  %hr/
  .row
    %label.col-3 商品ID
    %span.col-9 新規登録の場合は空にしてください。既存の商品を更新する場合は、商品IDを指定してください。
    %label.col-3 商品名
    %span.col-9
    %label.col-3 商品説明
    %span.col-9
    %label.col-3 価格
    %span.col-9
    %label.col-3 カテゴリID
    %span.col-9
    %label.col-3 オススメ商品フラグ
    %span.col-9
    %label.col-3 送料フラグ
    %span.col-9
  %hr/
