.w-75.content
  %h1 受注一覧
  .w-75
    = form_with url: dashboard_orders_path, method: :get, local: true do |f|
      .d-flex.flex-inline.form-group
        .d-flex.align-items-center
          注文番号
        = f.text_field :code, value: @code, class: "form-controll ml-2 w-50", placeholder: "12345678"
      = f.submit "検索", class: "btn btn-secondary"
  %table.table.mt-5
    %thead
      %tr
        %th.w-25{:scope => "col"} 注文番号
        %th{:scope => "col"} 注文者名
        %th{:scope => "col"} 注文日時
        %th{:scope => "col"} 購入金額
        %th{:scope => "col"}
    %tbody
      - @orders.each do |order|
        %tr
          %td.align-middle{:scope => "row"}= order.id
          %td.align-middle= User.find(order.user_id).name + "様"
          %td.align-middle= order.updated_at.to_datetime.strftime("%Y-%m-%d %H:%M:%S")
          %td.align-middle= (order.total.fractional / 100).to_s(:delimited)
          %td.align-middle= link_to "詳細", dashboard_order_path(order),class:"btn btn-sm btn-primary"
  = paginate @orders
