.content
  %h2
    検索結果 "#{@content}"です
  .container.mt-2
    .row
      - @records.each do |product|
        .col-6.col-md-4
          = link_to product_path(product) do
            - if product.image.attached?
              = image_tag product.image, class: "" ,width:"300",height: "300"
            - else
              = image_tag "salt.png", class: "img-thumbnail"
          .row
            .col-12
              %p.mt-2
                = product.name
                %br/
                %label
                  ¥#{product.price.to_s(:delimited)}
