<div class="content">
  <h2> お探しの商品の"<%= @content %>"です</h2>

  <div class="container mt-2">
    <div class="row">
      <% @records.each do |product|%>
      <div class="col-6 col-md-4">
        <%= link_to product_path(product) do %>
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "" ,width:"300",height: "300"%>
          <% else %>
            <%= image_tag "salt.png", class: "img-thumbnail" %>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col-12">
            <p class="mt-2">
              <%= product.name %><br>
              <label>¥<%= product.price.to_s(:delimited) %></label>
            </p>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>