
<div class="row">
  <div class="container">
    <% if @category.present? %>
      <%= @category.name %> 
      <%= form_with url: products_path, method: :get, local: true, class: "form-inline" do |f| %>
          <%= f.hidden_field :sort_category, value: @category.id %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
          <% end %>
        <% end %>
    <% end %>
  </div>
  <div class="container mt-2">
    <div class="row">
      <% @products.each do |product|%>
      <div class="col-6 col-md-4">
        <%= link_to product_path(product) do %>
          <%= image_tag "salt.png", class: "img-thumbnail"%>
        <% end %>
        <div class="row">
          <div class="col-12">
            <p class="mt-2">
              <%= product.name %><br>
              <label>¥<%= product.price %></label>
            </p>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <%= paginate @products %>
  <hr>
  <div class="container">
    <p>新着商品</p>
    <div class="row">
      <div class="col-3">
        <%= link_to "#", class: "img-thumbnail" do %>
          <%= image_tag "jam.jpg", class: "img-thumbnail"%>
        <% end %>
        <div class="row">
          <div class="col-12">
            <p class="product-label mt-2">
              果肉いっぱいのジャム<br>
              <label>￥15000</label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
