
<div class="row">
  <div class="container">
    <% if @category.present? %>
      <%= @category.name %> 
      <%= form_with url: products_path, method: :get, local: true, class: "form-inline" do |f| %>
          <%= f.hidden_field :sort_category, value: @category.id %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
          <% end %>
        <% end %>
    <% end %>
  </div>
  <div class="container mt-2">
    <div class="row">
      <% @products.each do |product|%>
      <div class="col-6 col-md-4">
        <%= link_to product_path(product) do %>
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "" ,width:"300",height: "300"%>
          <% else %>
            <%= image_tag "salt.png", class: "img-thumbnail" %>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col-12">
            <p class="mt-2">
              <strong><%= product.name %></strong><br>
              <label>¥<%= product.price.to_s(:delimited) %></label>
            </p>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <%= paginate @products %>
  <hr>

<div class="content">
  <div class="container">
    <h3 class="title">Ranking</h3>
    <div class="row">
      <% @rank_products.each.with_index(1) do |product, i| %>
        <div class = "col-4 col-md-2 product-box">
          <p class="box-step <%= way_color(i) %>"><%= i %></p>
          <%= link_to product_path(product) do %>
            <% if product.image.attached? %>
              <%= image_tag product.image,size:'120x120' %>
            <% else %>
              <%= image_tag "salt.png", class: "img-thumbnail" %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="product-lavel mt-2">
                <%= product.name %><br>
                <label>¥ <%= product.price.to_s(:delimited) %></label>
              </p>
            </div>
          </div>
        </div>
      <% end %> 
      
      </div>
  </div>
</div>
