
<div class="d-flex justify-content-center content ">
  <div class="row w-75">
    <div class="col-md-4 mr-2">
      <% if @product.image.attached? %>
        <%= image_tag @product.image,class: "img-thumbnail product_image" %>
        <div class= "<%= add_active_class %>">
          <span class="triangle"></span>
          <%if @product.soldout_flag%>
            <span class="label">Sold</span>
          <%end%>
        </div>
      <% else %>
        <%= image_tag "salt.png", class: "img-thumbnail" %>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="review_avg">
          <h1><%= @product.name %></h1>
          <%= link_to product_reviews_path(@product),class: "btn btn-outline-warning text-dark btn-sm ml-2"  do %>
            <div id="star-rate-<%= @product.id %>">Review <%=@product.reviews.count%>件 &nbsp;<br></div>
          
            <script>
              $('#star-rate-<%= @product.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%=@product.reviews.average(:rate).to_f.round(1) %>,
              });
              
            </script>
          <% end %>
        </div>
        <p class="d-flex align-items-end item-price">
          ￥<%= @product.price.to_s(:delimited) %><span class="ml-2">税込</span>
        </p>
      </div>

      <%# form_withを使って、カートに追加する商品のidなどをshopping_carts_controller.rbのcreateアクションに渡している %>
      <%= form_with url: cart_create_users_path, local: true do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :name, value: @product.name %>
        <%= f.hidden_field :price, value: @product.price %>
        <div class="form-group row">
          <%= f.label "数量", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.number_field :quantity, min:1, value:1, class: "form-control w-25"%>
          </div>
        </div>
        <div class="row">
        <% if user_signed_in? %>
          <%= render 'products/modal'%>
          <%if @product.soldout_flag%>
            <%= link_to new_contact_path, class: 'btn btn-outline-dark btn-block mt-3' do %>
              <p>再入荷お知らせ</p>
            <% end %>
          <% else %>
            <%= f.submit "カートに入れる", class: "btn btn-primary w-100 mb-2" do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          <% end %>
          <%= link_to favorite_product_path, class: "btn btn-outline-dark text-favorite mt-2 mb-5" do %>
            <% if current_user.likes?(@product)%>
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              お気に入り解除
            <% else %>
              <i class="fas fa-heart" aria-hidden="true"></i>
              お気に入り追加
            <% end %>
          <% end %>
          <div class="likes_count"><%= @product.likers_count %></div>
          <% else %>
            <%= link_to new_user_session_path do%>
              <button class="btn btn-primary w-100">カートに追加</button>
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <p><%= @product.description %></p>
          <div class="tag">
            <% @product.tags.each do |tag| %>
              <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") ,class: "tag_name"%>
            <% end %>
          </div>
          <%= link_to new_contact_path, class: 'btn btn-outline-dark btn-block mt-3' do %>
            <i class="fas fa-envelope"></i>アイテムについて問い合わせ
          <% end %>
        </div>
      <% end %> 

    </div>
  </div>
</div>

<hr>
<div class="">
  <div class="container">
    <h3 class="title">おすすめアイテム</h3>
    <div class="row">
      <% @recommend_products.each do |recommend_product| %>
        <div class = "col-4 col-md-2 product-box">
          <%= link_to product_path(recommend_product) do%>
            <% if recommend_product.image.attached? %>
              <%= image_tag recommend_product.image, class: "img-thumbnail" %>
            <% else %>
              <%= image_tag "salt.png", class: "img-thumbnail" %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="product-lavel mt-2">
                <%= recommend_product.name%>
                <label>￥<%= recommend_product.price.to_s(:delimited) %></label>
              </p>
            </div>
          </div>
        </div>
      <% end %> 
      </div>
  </div>
</div>



<%= link_to  products_path  do %>
  <button class="btn btn-secondary btn-lg mx-auto d-block" >商品一覧に戻る</button>
<% end%>


