
<div class="d-flex justify-content-center content ">
  <div class="row w-75">
    <div class="col mr-2">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, class: "img-thumbnail" %>
      <% else %>
        <%= image_tag "salt.png", class: "img-thumbnail" %>
      <% end %>
    </div>

    <div class="col">
      <div class="d-flex flex-column">
        <h1 class="">
          <%= @product.name %>
        </h1>
        <p class="d-flex align-items-end item-price">
          ￥<%= @product.price %><span class="ml-2">税込</span>
        </p>
        <p class="">
          <%= @product.description %>
        </p>

      </div>

      <%# form_withを使って、カートに追加する商品のidなどをshopping_carts_controller.rbのcreateアクションに渡している %>
      <%= form_with url: cart_create_users_path, local: true do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :name, value: @product.name %>
        <%= f.hidden_field :price, value: @product.price %>
        <div class="form-group row">
          <%= f.label "数量", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.number_field :quantity, min:1, value:1, class: "form-control w-25"%>
          </div>
        </div>
        <div class="row">
        <% if user_signed_in? %>
          <div class="col">
            <%= render 'products/modal'%>
            
            <%= f.submit "カートに入れる", class: "btn btn-primary w-100 mb-2" do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          </div>
          <div class="">
            <%= link_to favorite_product_path, class: "btn btn-outline-secondary text-favorite w-100 ml-3" do %>
              <i class="fa fa-heart"></i><%= current_user.likes?(@product) ? "お気に入り解除" : "お気に入り" %>
            <% end %>
          </div>
          <% else %>
            <%= link_to new_user_session_path do%>
              <button class="btn btn-primary w-100">カートに追加</button>
            <% end %>
          <% end %>
        </div>
      <% end %> 

    </div>
  </div>
</div>

<hr>
<div class="content">
  <div class="container">
    <h3 class="title">その他のアイテム</h3>
    <div class="row">
      <% @recommend_products.each do |recommend_product| %>
        <div class = "col-2">
          <%= link_to product_path(recommend_product) do%>
            <% if recommend_product.image.attached? %>
              <%= image_tag recommend_product.image, class: "", width:"160",height: "160" %>
            <% else %>
              <%= image_tag "salt.png", class: "img-thumbnail" %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="product-lavel mt-2">
                <%= recommend_product.name%>
                <label>￥<%= recommend_product.price %></label>
              </p>
            </div>
          </div>
        </div>
      <% end %> 
      </div>
  </div>
</div>

<div class="row w-75">
  <div class="offset-1 col-11">
    <hr class="w-100">
    <h3 class="float-left">カスタマーレビュー</h3>
  </div>

  <div class="offset-1 col-10">
    <div class="row">
        <% @reviews.each do |review| %>
          <div class="review-rate">
            <div id="star-rate-<%= review.id %>"></div>
            <script>
              $('#star-rate-<%= review.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= review.rate %>,
              });
            </script>
          </div>
          <div class="rate">
            <%= review.rate %>
          </div>
          <div class="offset-md-5 col-md-5 ">
            <p><%= review.content %></p>
            <p><%= review.user.name %></p>
            <label><%= l review.created_at %></label>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="row">
          <div class="offset-md-5 col-md-7">
            <%= form_with model: @review, url: product_reviews_path(@product) do |f| %>
              <div class="form-group row" id="star">
                <%= f.label :rate,'評価', class:"col-md-3 col-form-label" %>
                <%= f.hidden_field :rate, id: :review_star %>
              </div>
              <script>
                $('#star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'review[rate]',
                  half: true,
                });
              </script>
              <%= f.text_area :content, class: "form-control mb-2" %>
              <%= f.submit "レビューを追加" , class:"btn comment-button text-favorite w-100 mb-5 "%>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>


<%= link_to  products_path  do %>
  <button class="btn btn-secondary btn-lg mx-auto d-block" >商品一覧に戻る</button>
<% end%>


