.container
  .row
    .col-md-3
      %h2.index-title カスタマーレビュー
      = image_tag @review.product.image, :size => '130x130'
      %table.table
        %tbody
          %tr
            %th アイテム名
            %th= @product.name
      = form_with model: @review, url: product_reviews_path(@product) do |f|
        .form-group
          #star
            = f.label :rate,'評価', class:"col-md-3 col-form-label"
            = f.hidden_field :rate, id: :review_star
          :javascript
            $('#star').raty({
              size     : 36,
              starOff:  '#{asset_path('star-off.png')}',
              starOn : '#{asset_path('star-on.png')}',
              starHalf: '#{asset_path('star-half.png')}',
              scoreName: 'review[rate]',
              half: true,
            });
        .form-group
          = f.text_area :content, class: "form-control mb-2"
        .form-group
          = f.submit "レビューを追加" , class:"btn btn-success mb-5 "
    .col-md-8.offset-md-1
      %table.table
        %thead
          %tr
            %th 評価
            %th
            %th
            %th
            %th
        - @reviews.each do |review|
          %tbody
            %tr
              %td
                .review-rate
                  %div{:id => "star-rate-#{review.id}"}
                  :javascript
                    $('#star-rate-#{review.id}').raty({
                      size: 36,
                      starOff:  '#{asset_path('star-off.png')}',
                      starOn : '#{asset_path('star-on.png')}',
                      starHalf: '#{asset_path('star-half.png')}',
                      half: true,
                      readOnly: true,
                      score: #{review.rate},
                    });
                .rate
                  = review.rate
              %td= review.content
              %td
                = review.user.name
                %span 様
              %td
                %label= l review.created_at
              %td
      = link_to  products_path  do
        %button.btn.btn-secondary.btn-lg.mx-auto.d-block 商品一覧に戻る
