.container
  .row
    .col-md-3
      %h2.index-title カスタマーレビュー
      = image_tag @review.product.image, :size => '130x130'
      %table.table
        %tbody
          %tr
            %th アイテム名
            %th= @product.name
      = form_with model: @review, url: product_reviews_path(@product) do |f|
        .form-group
          #star
            = f.label :rate,'評価', class:"col-md-3 col-form-label"
            = f.hidden_field :rate, id: :review_star
          :javascript
            $('#star').raty({
              size     : 36,
              starOff:  '#{asset_path('star-off.png')}',
              starOn : '#{asset_path('star-on.png')}',
              starHalf: '#{asset_path('star-half.png')}',
              scoreName: 'review[rate]',
              half: true,
            });
        .form-group
          = f.text_area :content, class: "form-control mb-2"
        .form-group
          = f.submit "レビューを追加" , class:"btn btn-success mb-5 "
    = render 'index', reviews: @reviews