<header id="header">
    
    <div class="header">
      <ul id="header-menu">
        <li class="header-menu-li"><%=link_to "HOME",products_path ,class:"link-btn" %></li>  
        <li class="header-menu-li"><%=link_to "NEWS",products_path ,class:"link-btn" %></li>  
        <li class="header-menu-li"><%=link_to "ABOUT",products_path ,class:"link-btn" %></li>  
        <li class="header-menu-li dropdown">
          <div class="dropbtn nav-dropbtn">CATEGORY</div>
            <div class="dropdown-content">
              <% @categories = Category.all%>
              <% @categories.each do |category| %>
                <%= link_to category.name, products_path(category: category.id) %><br>
              <% end %>      
            </div>
        </li>
        <li>
          <form class="form-inline">
            <div class="form-group">
              <input class="form-control header-search-input">
            </div>
            <div class="input-group">
              <button type="submit" class="btn header-search-button"><i class="fas fa-search header-search-icon"></i></button>
            </div>
          </form>
        </li>
      </ul>
      
      <div class="login">
        <%= render 'layouts/login'%>
      </div>
    </div>
  </header>

  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav id="g-nav">
  <div id="g-nav-list">
  <ul>
  
  <%=link_to products_path ,class:"link-btn" do%>
    <h1 class="g-nav-title">HOME</h1>
  <% end %>
  <%=link_to products_path ,class:"link-btn" do%>
    <h1 class="g-nav-title">NEWS</h1>
  <% end %>
  <%=link_to products_path ,class:"link-btn" do%>
    <h1 class="g-nav-title">ABOUT</h1>
  <% end %>
  <li class="header-menu-li dropdown">
    <div class="dropbtn nav-dropbtn">
      CATEGORY</div>
    <div class="dropdown-content">
      <% @categories = Category.all%>
      <% @categories.each do |category| %>
        <%= link_to category.name, products_path(category: category.id) %><br>
      <% end %>      
    </div>
  </li>
  </ul>
  </div>
  </nav>


  
  
  
  <script>
    $(".openbtn").click(function () {//ボタンがクリックされたら

      $(this).toggleClass('active');//ボタン自身に activeクラスを付与し
      $("#g-nav").toggleClass('panelactive');//ナビゲーションにpanelactiveクラスを付与

    });

    $("#g-nav a").click(function () {//ナビゲーションのリンクがクリックされたら

      $(".openbtn").removeClass('active');//ボタンの activeクラスを除去し
      $("#g-nav").removeClass('panelactive');//ナビゲーションのpanelactiveクラスも除去
      
    });

  </script>